.sidebar-medikly .md-whiteframe-z1 {
  box-shadow: none;
}

.sidebar-medikly card-layout section:first-child {
  background-color: #F9F9F9;
}

.sidebar-medikly card-layout .card-toolbar {
  background-color: #F9F9F9;
}

.sidebar-medikly {
  section {
    background-color: #F9F9F9 !important;

    .card-toolbar {
      background-color: #F9F9F9 !important;
    }
  }
}