<td-expansion-panel label="Common Conditions" [expand]="true">
  <div class="md-padding">
    <p>The following information is provided by the Centers for Medicare & Medicaid Services for the year 2014 and depicts the rates of sixteen chronic conditions found in Dr. {{profile.basic.last_name}}'s Medicare patients. It should be noted that the prevalence of conditions listed below may not be characteristic of the provider's entire patient population, and in some cases information has been redacted from the original data source to protect patient information.
      Most Frequently Seen</p>

    <h4>Overview of Cancer</h4>

  <div fxLayout="row"  fxLayoutWrap="wrap" class="profile-key-stats">
    <div fxFlex.gt-sm="33" fxFlex.gt-xs="50" fxFlex="100">
      <mat-card class="shadow-none card-widget">
        <div mat-card-widget>
          <mat-icon><i class="icon ion-thermometer"></i></mat-icon>
          <div class="pl-1 pr-1">
            <h5 mat-card-widget-title>Severe</h5>
            <p class="mat-text-muted text-md">Seriousness</p>
          </div>
        </div>
      </mat-card>
    </div>

    <div fxFlex.gt-sm="33" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="shadow-none card-widget">
      <div mat-card-widget>
        <mat-icon><i class="icon ion-ios-people"></i></mat-icon>
        <div class="pl-1 pr-1">
          <h5 mat-card-widget-title>Very Common</h5>
          <p class="mat-text-muted text-md">Prevalence</p>
        </div>
      </div>
    </mat-card>
    </div>

    <div fxFlex.gt-sm="33" fxFlex.gt-xs="50" fxFlex="100">
      <mat-card class="shadow-none card-widget">
        <div mat-card-widget>
          <mat-icon><i class="icon ion-social-usd"></i></mat-icon>
          <div class="pl-1 pr-1">
            <h5 mat-card-widget-title>High</h5>
            <p class="mat-text-muted text-md">Monetary Cost</p>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

    <p>The appearance of unexplained lumps, bleeding, or changes in health may be a sign of a developing tumor.</p>

    <div fxLayout="row"  fxLayoutWrap="wrap" class="">
      <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
        <mat-card class="shadow-none card-widget">
       <!--   <circle-progress
            percent="85"
            [radius]="30"
            animation="false"
            toFixed="0"
            [showSubtitle]="true"
            [titleFontSize]="20"
            [unitsFontSize]="15"
            subtitle="Prescriptions"
            showTitle="false"
            backgroundPadding="-10"
            backgroundOpacity="1"
            backgroundStroke="transparent"
            outerStrokeColor="#3F51B5"
            outerStrokeWidth="10"
            outerStrokeLinecap="round"
            innerStrokeWidth="0"
            innerStrokeColor="#C7E596"
            showBackground="false"
            showInnerStroke="false"
            [renderOnClick]="false"
          ></circle-progress>-->
        </mat-card>
      </div>
      <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
        <mat-card class="shadow-none card-widget">
<!--          <circle-progress
            percent="45"
            [radius]="30"
            animation="false"
            toFixed="0"
            [showSubtitle]="true"
            [titleFontSize]="20"
            [unitsFontSize]="15"
            subtitle="Procedures"
            showTitle="false"
            backgroundPadding="-10"
            backgroundOpacity="1"
            backgroundStroke="transparent"
            outerStrokeColor="#2196F3"
            outerStrokeWidth="10"
            outerStrokeLinecap="round"
            innerStrokeWidth="0"
            innerStrokeColor="#C7E596"
            showBackground="false"
            showInnerStroke="false"
            [renderOnClick]="false"
          ></circle-progress>-->
        </mat-card>
      </div>
      <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
        <mat-card class="shadow-none card-widget">
<!--          <circle-progress
            percent="64"
            [radius]="30"
            animation="false"
            toFixed="0"
            [showSubtitle]="true"
            [titleFontSize]="20"
            [unitsFontSize]="15"
            subtitle="Referrals"
            showTitle="false"
            backgroundPadding="-10"
            backgroundOpacity="1"
            backgroundStroke="transparent"
            outerStrokeColor="#3949AB"
            outerStrokeWidth="10"
            outerStrokeLinecap="round"
            innerStrokeWidth="0"
            innerStrokeColor="#C7E596"
            showBackground="false"
            showInnerStroke="false"
            [renderOnClick]="false"
          ></circle-progress>-->
        </mat-card>
      </div>
      <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
        <mat-card class="shadow-none card-widget">
<!--          <circle-progress
            percent="77"
            [radius]="30"
            animation="false"
            toFixed="0"
            [showSubtitle]="true"
            [titleFontSize]="20"
            [unitsFontSize]="15"
            subtitle="Social"
            showTitle="false"
            backgroundPadding="-10"
            backgroundOpacity="1"
            backgroundStroke="transparent"
            outerStrokeColor="#1E88E5"
            outerStrokeWidth="10"
            outerStrokeLinecap="round"
            innerStrokeWidth="0"
            innerStrokeColor="#C7E596"
            showBackground="false"
            showInnerStroke="false"
            [renderOnClick]="false"
          ></circle-progress>-->
        </mat-card>
      </div>
    </div>
  </div>

</td-expansion-panel>
