<td-expansion-panel label="Physician Teaming" [expand]="true">
  <div class="md-padding">
    The following data breaks down the shared Medicare patient base between Dr. {{profile.basic.first_name}} {{profile.basic.last_name}} and his physician colleagues.
    This shared patient population represents those who received care from both Dr. {{profile.basic.last_name}} and a related physician within a 30 day time period throughout 2015,
    regardless of whether this was due to a direct referral or not. <b>Patients who visited Dr. {{profile.basic.last_name}} after having seen another physician within this time period are denoted as "Received"</b>,
    while <b>patients who saw another physician after receiving care from Dr. {{profile.basic.last_name}} are denoted as "Shared".</b>
    <br><br>
    Dr. {{profile.basic.last_name}}'s high influx of patients from a variety of specialists is most likely a good indicator he's well respected in his medical community and works closely with other physicians.

  </div>
</td-expansion-panel>
