<mat-toolbar color="primary">

    <mat-toolbar-row class="title-toolbar">
        <h3 class="title">Reach the Customers Who Matter to You</h3>
    </mat-toolbar-row>
    <mat-toolbar-row class="title-toolbar">
        <h6 class="subtitle">Create and save audiences to reach the people who matter to your business</h6>
    </mat-toolbar-row>
    <mat-toolbar-row>
    </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center start" class="mat-card-top">
    <div fxFlex.gt-sm="90" fxFlex="100">
        <div fxLayout="row" fxLayoutWrap="wrap">

            <div fxFlex.gt-sm="33.33%" fxFlex="100">
                <mat-card>
                    <mat-card-title fxLayout="row" fxLayoutAlign="center center">
                        <h3 class="mt-0 mb-0">New Audience</h3>
                    </mat-card-title>

                    <mat-card-content class="card-content-height">
                        <div class="text-xs-center pb-1">
                            <img src="assets/medikly_theme/images/audience-img1.png" alt=""/>
                            <mat-card-subtitle class="margin-p">Create a new audience based on demographics, interests, and behaviors, then
                                save them to reuse in future ads.
                            </mat-card-subtitle>
                            <button mat-raised-button color="accent" class="mr-1">Create a Saved Audience</button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxFlex.gt-sm="33.33%" fxFlex="100">
                <mat-card>
                    <mat-card-title fxLayout="row" fxLayoutAlign="center center">
                        <h3 class="mt-0 mb-0">Custom Audiences</h3>
                    </mat-card-title>

                    <mat-card-content class="card-content-height">
                        <div class="text-xs-center pb-1">
                            <img src="assets/medikly_theme/images/audience-img2.png" alt=""/>
                            <mat-card-subtitle class="margin-p">Connect with the people who have already shown an interest in your product
                                with Custom Audiences.
                            </mat-card-subtitle>
                            <button mat-raised-button color="accent" class="mr-1">Create a Custom Audience</button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxFlex.gt-sm="33.33%" fxFlex="100" class="material-box">
                <mat-card >
                    <mat-card-title fxLayout="row" fxLayoutAlign="center center">
                        <h3 class="mt-0 mb-0">Lookalike Audiences</h3>
                    </mat-card-title>

                    <mat-card-content class="card-content-height">
                        <div class="text-xs-center pb-1">
                            <img src="assets/medikly_theme/images/audience-img3.png" alt=""/>
                            <mat-card-subtitle class="margin-p">Reach new providers who are similar to audiences you already know or are
                                alrady existing Custom Audiences.
                            </mat-card-subtitle>
                            <button mat-raised-button color="accent" class="mr-1">Create a Lookalike Audience</button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>

        </div>
    </div>
</div>
