<td-expansion-panel label="See More Doctors" [expand]="true">
    <div class="md-padding">
        <div class="c-content c-detail">
            <div data-id="cfd44b0b0f37a9d1c85c85bce71ea95022ca0e49" class="ftb-widget srp-widget js-render"
                 style="max-height:315px;">
                <div class="ww-root-inner" style="">
                    <div class="srp-float-wrap flt-scroll-wrap">
                        <div class="srp-table-div ww-main-class srp-widget-uniquehash-24 scrollbar-style scroll-light"
                             style="max-height:315px;">
                            <table class="srp-widget-table" style="width: 100%; table-layout: auto;">
                                <thead>
                                <tr>
                                    <th sort-index="0" data-index="0" class="srp-th srp-cell">Name</th>
                                    <th sort-index="3" data-index="1" class="srp-th srp-cell">Address</th>
                                    <th sort-index="2" data-index="2" class="srp-th srp-cell">Years of Experience</th>
                                    <th sort-index="-1" data-index="3" class="srp-th srp-cell"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="item_row item-row767599" data-index="0" data-id="767599"
                                    data-href="http://doctors.healthgrove.com/l/767599/Hamed-Khosravi-in-Woodbridge-Virginia"
                                    data-target="_parent">
                                    <td class="srp-td srp-cell srp-cell-single-line">
                                        <div class="srp-cell-span"><a class="srp-row-link"
                                                                      href="javascript:void(0)"
                                                                      target="_parent">
                                            <div>Hamed Khosravi</div>
                                        </a></div>
                                    </td>
                                    <td class="srp-td srp-cell srp-cell-multi-line srp-cell-multi-fields">
                                        <div class="srp-cell-span">
                                            <div>2079 Daniel Stuart Sq</div>
                                        </div>
                                        <div class="srp-cell-span">
                                            <div>Woodbridge, Virginia</div>
                                        </div>
                                    </td>
                                    <td class="srp-td srp-cell srp-cell-single-line">
                                        <div class="srp-cell-span">
                                            <div class="viz-temp ">
                                                <div class="viz-wrap colored-number" style="width:50px;height:50px;">
                                                    <div class="val" style="line-height:50px;font-size:15px;">26</div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="srp-td srp-cell srp-cell-single-line"></td>
                                </tr>
                                <tr class="item_row item-row767587" data-index="1" data-id="767587"
                                    data-href="javascript:void(0)"
                                    data-target="_parent">
                                    <td class="srp-td srp-cell srp-cell-single-line">
                                        <div class="srp-cell-span"><a class="srp-row-link"
                                                                      href="javascript:void(0)"
                                                                      target="_parent">
                                            <div>Masoom M Kandahari</div>
                                        </a></div>
                                    </td>
                                    <td class="srp-td srp-cell srp-cell-multi-line srp-cell-multi-fields">
                                        <div class="srp-cell-span">
                                            <div>2280 Opitz Blvd</div>
                                        </div>
                                        <div class="srp-cell-span">
                                            <div>Woodbridge, Virginia</div>
                                        </div>
                                    </td>
                                    <td class="srp-td srp-cell srp-cell-single-line">
                                        <div class="srp-cell-span">
                                            <div class="viz-temp ">
                                                <div class="viz-wrap colored-number" style="width:50px;height:50px;">
                                                    <div class="val" style="line-height:50px;font-size:15px;">40</div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="srp-td srp-cell srp-cell-single-line"></td>
                                </tr>
                                <tr class="item_row item-row767521" data-index="2" data-id="767521"
                                    data-href="javascript:void(0)"
                                    data-target="_parent">
                                    <td class="srp-td srp-cell srp-cell-single-line">
                                        <div class="srp-cell-span"><a class="srp-row-link"
                                                                      href="javascript:void(0)"
                                                                      target="_parent">
                                            <div>Farn Chan</div>
                                        </a></div>
                                    </td>
                                    <td class="srp-td srp-cell srp-cell-multi-line srp-cell-multi-fields">
                                        <div class="srp-cell-span">
                                            <div>2280 Opitz Blvd Ste 220</div>
                                        </div>
                                        <div class="srp-cell-span">
                                            <div>Woodbridge, Virginia</div>
                                        </div>
                                    </td>
                                    <td class="srp-td srp-cell srp-cell-single-line">
                                        <div class="srp-cell-span">
                                            <div class="viz-temp ">
                                                <div class="viz-wrap colored-number" style="width:50px;height:50px;">
                                                    <div class="val" style="line-height:50px;font-size:15px;">13</div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="srp-td srp-cell srp-cell-single-line"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</td-expansion-panel>
