<td-expansion-panel label="Contact" [expand]="true">
    <div class="md-padding">
        <md-list>
            <md-list-item *ngIf="profile.addresses[0].us_telephone_number">
                <md-icon md-list-avatar>phone</md-icon>
                <h4 md-line>{{profile.addresses[0].us_telephone_number}}</h4>
                <p md-line>Phone Number</p>
            </md-list-item>

            <md-divider *ngIf="profile.addresses[0].us_fax_number" md-inset></md-divider>

            <md-list-item *ngIf="profile.addresses[0].us_fax_number">
                <md-icon md-list-avatar>perm_phone_msg</md-icon>
                <h4 md-line>{{profile.addresses[0].us_fax_number}}</h4>
                <p md-line>Fax Number</p>
            </md-list-item>

            <md-divider *ngIf="profile.addresses[0].address_1" md-inset></md-divider>

            <md-list-item *ngIf="profile.addresses[0].address_1">
                <md-icon md-list-avatar>location_on</md-icon>
                <h4 md-line>{{profile.addresses[0].address_1}}, {{profile.addresses[0].city}}, {{profile.addresses[0].state}}</h4>
                <p md-line>ZIP: {{profile.addresses[0].zip}}</p>
                <p md-line>Address</p>
            </md-list-item>
        </md-list>
    </div>
</td-expansion-panel>
