.mdk-card-inner-top {
  margin: 16px 0 2px 0 !important;

  &.mat-card{
    padding: 0px !important;
  }

  .mat-card-footer {
    padding: 0 0 0 0.5rem;
  }

  .header-info-top{
    height: 95px;
  }
}

