<div fxLayout="row" fxLayoutWrap="wrap">
      <div class="content" style="width: 100%;">
        <mat-nav-list class="nav-list-measure">
          <a class="mail" md-list-item *ngFor="let document of documents.slice(0, index1) | orderBy: order: reverse ; let i = index" fxLayout="row">
            <div fxHide="true" fxHide.gt-xs="false" class="start-wrapper" fxFlex="180px" fxFlex.gt-sm="270px"
                 fxLayout="row" fxLayoutAlign="start center">
              <mat-checkbox class="checkbox" color="accent" style="font-size: 18px" [checked]="false"></mat-checkbox>
              <button fxHide="true" fxHide.gt-sm="false" md-icon-button>
                <mat-icon *ngIf="i %2 === 0" class="star favorite-style">star_border</mat-icon>
                <mat-icon *ngIf="i %2 != 0" [class.tc-yellow-700]="true" class="star active favorite-style">star</mat-icon>
              </button>
              <span class="from-name title-item">{{ document.file_name }}</span>
            </div>

            <p class="content-wrapper" fxLayout="row">

            </p>

            <div fxHide="true" fxHide.gt-xs="false" fxFlex="75px" fxFlex.gt-sm="150px" class="end-wrapper"
                 fxLayout="row">
              <span class="subject mat-text-muted description-item">Venkat Gullapalli, MD</span>
            </div>

            <div fxHide="true" fxHide.gt-xs="false" fxFlex="50px" fxFlex.gt-sm="100px" class="end-wrapper"
                 fxLayout="row">
              <span class="when mat-text-muted description-item">{{ date | date : 'mediumDate'}}</span>
            </div>

            <div fxHide="true" fxHide.gt-xs="false" fxFlex="20px" fxFlex.gt-sm="40px" class="end-wrapper"
                 fxLayout="row" fxLayoutAlign="end center">
              <button md-icon-button [mat-menu-trigger-for]="moreMenuActions" style="margin-right: -10px;">
                <mat-icon class="mat-text-muted ">more_vert</mat-icon>
              </button>
              <mat-menu #moreMenuActions="matMenu" x-position="before">
                <mat-nav-list dense>
                  <a (click)="openDialogRenameFile(document)" md-list-item>
                    Rename
                  </a>
                  <a (click)="openDialogRemoveFile(document)" md-list-item>
                    Remove
                  </a>
                  <a md-list-item>
                    Open in new tab
                  </a>
                </mat-nav-list>
              </mat-menu>
            </div>
          </a>
        </mat-nav-list>

        <div class="header-section-list">
          <span style="padding-left: 5px">Previous 30 days</span>
        </div>
        <mat-nav-list class="nav-list-measure">
          <a class="mail" md-list-item *ngFor="let document of documents.slice(index1, index2) | orderBy: order: reverse ; let i = index" fxLayout="row">
            <div fxHide="true" fxHide.gt-xs="false" class="start-wrapper" fxFlex="180px" fxFlex.gt-sm="270px"
                 fxLayout="row" fxLayoutAlign="start center">
              <mat-checkbox class="checkbox" color="accent" [checked]="false"></mat-checkbox>
              <button fxHide="true" fxHide.gt-sm="false" md-icon-button>
                <mat-icon *ngIf="i %2 === 0" class="star favorite-style">star_border</mat-icon>
                <mat-icon *ngIf="i %2 != 0" [class.tc-yellow-700]="true" class="star active favorite-style">star</mat-icon>
              </button>
              <span class="from-name title-item">{{ document.file_name }}</span>
            </div>

            <p class="content-wrapper" fxLayout="row">

            </p>

            <div fxHide="true" fxHide.gt-xs="false" fxFlex="75px" fxFlex.gt-sm="150px" class="end-wrapper"
                 fxLayout="row">
              <span class="subject mat-text-muted description-item">Venkat Gullapalli, MD</span>
            </div>

            <div fxHide="true" fxHide.gt-xs="false" fxFlex="50px" fxFlex.gt-sm="100px" class="end-wrapper"
                 fxLayout="row">
              <span class="when mat-text-muted description-item">{{ date | date : 'mediumDate'}}</span>
            </div>

            <div fxHide="true" fxHide.gt-xs="false" fxFlex="20px" fxFlex.gt-sm="40px" class="end-wrapper"
                 fxLayout="row" fxLayoutAlign="end center">
              <button md-icon-button [mat-menu-trigger-for]="moreMenuActions" style="margin-right: -10px;">
                <mat-icon class="mat-text-muted ">more_vert</mat-icon>
              </button>
              <mat-menu #moreMenuActions="matMenu" x-position="before">
                <mat-nav-list dense>
                  <a (click)="openDialogRenameFile(document)" md-list-item>
                    Rename
                  </a>
                  <a (click)="openDialogRemoveFile(document)" md-list-item>
                    Remove
                  </a>
                  <a md-list-item>
                    Open in new tab
                  </a>
                </mat-nav-list>
              </mat-menu>
            </div>
          </a>
        </mat-nav-list>
        <div class="header-section-list">
          <span style="padding-left: 5px">Earlier</span>
        </div>
        <mat-nav-list class="nav-list-measure">
          <a class="mail" md-list-item *ngFor="let document of documents.slice(index2, index3) | orderBy: order: reverse ; let i = index" fxLayout="row">
            <div fxHide="true" fxHide.gt-xs="false" class="start-wrapper" fxFlex="180px" fxFlex.gt-sm="270px"
                 fxLayout="row" fxLayoutAlign="start center">
              <mat-checkbox class="checkbox" color="accent" [checked]="false"></mat-checkbox>
              <button fxHide="true" fxHide.gt-sm="false" md-icon-button>
                <mat-icon *ngIf="i %2 === 0" class="star favorite-style">star_border</mat-icon>
                <mat-icon *ngIf="i %2 != 0" [class.tc-yellow-700]="true" class="star active favorite-style">star</mat-icon>
              </button>
              <span class="from-name title-item">{{ document.file_name }}</span>
            </div>

            <p class="content-wrapper" fxLayout="row">

            </p>

            <div fxHide="true" fxHide.gt-xs="false" fxFlex="75px" fxFlex.gt-sm="150px" class="end-wrapper"
                 fxLayout="row">
              <span class="subject mat-text-muted description-item">Venkat Gullapalli, MD</span>
            </div>

            <div fxHide="true" fxHide.gt-xs="false" fxFlex="50px" fxFlex.gt-sm="100px" class="end-wrapper"
                 fxLayout="row">
              <span class="when mat-text-muted description-item">{{ date | date : 'mediumDate'}}</span>
            </div>

            <div fxHide="true" fxHide.gt-xs="false" fxFlex="20px" fxFlex.gt-sm="40px" class="end-wrapper"
                 fxLayout="row" fxLayoutAlign="end center">
              <button md-icon-button [mat-menu-trigger-for]="moreMenuActions" style="margin-right: -10px;">
                <mat-icon class="mat-text-muted ">more_vert</mat-icon>
              </button>
              <mat-menu #moreMenuActions="matMenu" x-position="before">
                <mat-nav-list dense>
                  <a (click)="openDialogRenameFile(document)" md-list-item>
                    Rename
                  </a>
                  <a (click)="openDialogRemoveFile(document)" md-list-item>
                    Remove
                  </a>
                  <a md-list-item>
                    Open in new tab
                  </a>
                </mat-nav-list>
              </mat-menu>
            </div>
          </a>
        </mat-nav-list>
      </div>
    </div>
