<md-sidenav-container class="background-none shadow-none medikly-covalent-styling">
  <md-sidenav disableClose="true" #column1 [mode]="isOver() ? 'over' : 'side'" [opened]="!isOver()" class="pa-0 ma-0 left-sidenav">
    <perfect-scrollbar class="overflow-container">

      <app-profile-header-card coverImage="/assets/medikly_theme/images/patterns/profile-pattern.jpg" class="small-profile-header" [profile]="profile"></app-profile-header-card>

      <form class="info-section" [formGroup]="userForm">
        <!--<div class="entity-section">-->
          <!--<h6 class="mt-0 title-info-section">Name</h6>-->
          <!--<div class="content-info-section">-->
            <!--<mat-input-container style="width: 100%">-->
              <!--<input  mdInput  formControlName="name" >-->
            <!--</mat-input-container>-->
          <!--</div>-->
        <!--</div>-->

        <!--Description-->
        <div class="entity-section">
          <h6 class="mt-0 title-info-section">Description</h6>
          <div class="content-info-section">
            <mat-input-container class="mt-0 mb-0" style="width: 100%">
              <textarea autosize mdInput formControlName="description" class="textarea-style"></textarea>
            </mat-input-container>
          </div>
        </div>
        <!--End Description-->

        <!--Phones-->
        <div class="entity-section" formArrayName="phones">
          <div class="entity-section-child" *ngFor="let phone of userForm.controls.phones.controls; let i=index" [formGroupName]="i">
            <md-select class="inline-select mt-0 mb-0" floatPlaceholder="never" formControlName="type">
              <md-option value="HomePhone">Home Phone</md-option>
              <md-option value="MobilePhone">Mobile Phone</md-option>
              <md-option value="WorkPhone">Work Phone</md-option>
              <md-option value="OtherPhone">Other Phone</md-option>
            </md-select>
            <div class="content-info-section">
              <mat-input-container class="mt-0 mb-0" style="width: 100%" floatPlaceholder="never">
                <input placeholder="+1 111 1111 1111"  mdInput formControlName="value">
                <span mdSuffix>
                  <button *ngIf="userForm.controls.phones.controls.length > 1" (click)="removeArrayItem('phones',i)" md-icon-button><mat-icon>close</mat-icon></button>
                </span>
              </mat-input-container>
            </div>
          </div>
          <div class="text-xs-right button-add-style">
            <a (click)="addNewPhone('OtherPhone')" class="tc-blue-500 md-caption">Add phone</a>
          </div>
        </div>
        <!--End Phones-->

        <!--Addressess-->
        <div class="entity-section" formArrayName="addresses">
          <div class="entity-section-child" *ngFor="let address of userForm.controls.addresses.controls; let i=index" [formGroupName]="i">
            <md-select class="inline-select mt-0 mb-0" floatPlaceholder="never" formControlName="type">
              <md-option value="HomeAddress">Home Address</md-option>
              <md-option value="WorkAddress">Work Address</md-option>
              <md-option value="OtherAddress">Other Address</md-option>
            </md-select>
            <div class="content-info-section">
              <mat-input-container class="mt-0 mb-0" style="width: 100%" floatPlaceholder="never">
                <input placeholder="25th street"  mdInput formControlName="value">
                <span mdSuffix>
                  <button *ngIf="userForm.controls.addresses.controls.length > 1" (click)="removeArrayItem('addresses',i)" md-icon-button><mat-icon>close</mat-icon></button>
                </span>
              </mat-input-container>
            </div>
          </div>
          <div class="text-xs-right button-add-style">
            <a (click)="addNewAddress('OtherAddress')" class="tc-blue-500 md-caption">Add address</a>
          </div>
        </div>
        <!--End Addressess-->

        <!--Emails-->
        <div class="entity-section" formArrayName="emails">
          <div class="entity-section-child" *ngFor="let email of userForm.controls.emails.controls; let i=index" [formGroupName]="i">
            <md-select class="inline-select mt-0 mb-0" formControlName="type">
              <md-option value="PersonalEmail">Personal Email</md-option>
              <md-option value="WorkEmail">Work Email</md-option>
              <md-option value="OtherEmail">Other Email</md-option>
            </md-select>
            <div class="content-info-section">
              <mat-input-container class="mt-0 mb-0" style="width: 100%" floatPlaceholder="never">
                <input class="tc-blue-500" placeholder="email@email.com"  mdInput formControlName="value">
                <span mdSuffix>
                  <button *ngIf="userForm.controls.emails.controls.length > 1" (click)="removeArrayItem('emails',i)" md-icon-button><mat-icon>close</mat-icon></button>
                </span>
              </mat-input-container>
            </div>
          </div>
          <div class="text-xs-right button-add-style">
            <a (click)="addNewEmail('OtherEmail')" class="tc-blue-500 md-caption">Add email</a>
          </div>
        </div>
        <!--End Emails-->



        <!--Websites-->
        <div class="entity-section" formArrayName="websites">
          <div class="entity-section-child" *ngFor="let website of userForm.controls.websites.controls; let i=index" [formGroupName]="i">
            <md-select class="inline-select mt-0 mb-0" formControlName="type">
              <md-option value="PersonalWebsite">Personal Website</md-option>
              <md-option value="WorkWebsite">Work Website</md-option>
              <md-option value="OtherWebsite">Other Website</md-option>
            </md-select>
            <div class="content-info-section">
              <mat-input-container class="mt-0 mb-0" style="width: 100%" floatPlaceholder="never">
                <input class="tc-blue-500" placeholder="http://www.sample.com"  mdInput formControlName="value">
                <span mdSuffix>
                  <button *ngIf="userForm.controls.websites.controls.length > 1" (click)="removeArrayItem('websites',i)" md-icon-button><mat-icon>close</mat-icon></button>
                </span>
              </mat-input-container>
            </div>
          </div>
          <div class="text-xs-right button-add-style">
            <a (click)="addNewWebsite('PersonalWebsite')" class="tc-blue-500 md-caption">Add website</a>
          </div>
        </div>
        <!--End Websites-->

        <!--Socials-->
        <div class="entity-section" formArrayName="socials">
          <div class="entity-section-child" *ngFor="let social of userForm.controls.socials.controls; let i=index" [formGroupName]="i">
            <md-select class="inline-select mt-0 mb-0" formControlName="type">
              <md-option value="Twitter">Twitter</md-option>
              <md-option value="Facebook">Facebook</md-option>
              <md-option value="Linkedin">Linkedin</md-option>
              <md-option value="Klout">Klout</md-option>
              <md-option value="Other">Other</md-option>
            </md-select>
            <div class="content-info-section">
              <mat-input-container class="mt-0 mb-0" style="width: 100%" floatPlaceholder="never">
                <input class="tc-blue-500" placeholder="http://www.twitter.com/myuser"  mdInput formControlName="value">
                <span mdSuffix>
                  <button *ngIf="userForm.controls.socials.controls.length > 1" (click)="removeArrayItem('socials',i)" md-icon-button><mat-icon>close</mat-icon></button>
                </span>
              </mat-input-container>
            </div>
          </div>
          <div class="text-xs-right button-add-style">
            <a (click)="addNewSocial('Other')" class="tc-blue-500 md-caption">Add social</a>
          </div>
        </div>
        <!--End Socials-->
      </form>



      <div class="info-section ma-0">
        <div class="entity-selection">
          <div class="content-info-selection">
            <img src="https://maps.googleapis.com/maps/api/staticmap?center=40.72763956,-73.82638322&markers=color:blue%7Clabel:S%7C40.72763956,-73.826383224&zoom=15&size=250x200&maptype=roadmap&markers=color:blue%7Clabel:P%7C40.702147,-74.015794&key=AIzaSyACLBEMy6EwcBExWTrH1i25FzPMlkeM7f4" alt="">
          </div>
        </div>
        <div class="entity-section-tags">
          <h6 class="mt-0 title-info-section">Tags</h6>
          <div class="content-info-section">


            <td-chips class="chips-mdk"
                      [chipAddition]="chipAddition"
                      [chipRemoval]="chipRemoval"
                      [items]="filteredStrings"
                      [(ngModel)]="stringsModel"
                      placeholder="Add tag"
                      [disabled]="disabled"
                      (inputChange)="filterStrings($event)"
                      requireMatch="false">
            </td-chips>
          </div>
        </div>
      </div>
      <br><br><br>
    </perfect-scrollbar>

  </md-sidenav>

  <mat-toolbar color="primary" fxHide="false" fxHide.gt-sm>
    <button (click)="column1.toggle()" md-icon-button>
      <mat-icon>short_text</mat-icon>
    </button>
    <span class="mr-1 ml-1">Sections</span>
  </mat-toolbar>

  <div class="main-content-profile">
    <md-card class="card-profile shadow-soft">
      <md-card-content>
        <app-profile-key-stats class="small-profile-keystats" [profile]="profile"></app-profile-key-stats>
      </md-card-content>
    </md-card>

    <div fxLayout="row" class="section-filters">
      <div fxFlex.gt-sm="70" fxFlex.gt-xs="50" fxFlex="100">
        <h4 class="mt-0 mb-0">Last Month</h4>
      </div>

      <div fxFlex.gt-sm="30" fxFlex.gt-xs="50"  fxFlex="100" class="text-right section-filters-style">
        <span>Showing: <a class="link-dropdown"><b>All activity</b> <mat-icon class="dropdown-indicator">arrow_drop_down</mat-icon></a></span>
      </div>
    </div>

    <md-card class="card-profile shadow-none pt-0 pb-0 pl-0 pr-0">
      <md-card-content>
        <md-tab-group color="primary">
          <md-tab>
            <ng-template md-tab-label>ACTIVITY</ng-template>
            <md-card-content>
              <app-main-activity></app-main-activity>
            </md-card-content>
          </md-tab>
          <md-tab>
            <ng-template md-tab-label>PRACTICE</ng-template>
            <div class="activity-stream">
              <md-card class="shadow-none">
                <md-card-header>
                  <img md-card-avatar src="assets/medikly_theme/images/providers/M/1.png">
                  <md-card-title>Received a call from Joel</md-card-title>
                  <md-card-subtitle>Header subtitle</md-card-subtitle>
                </md-card-header>
              </md-card>
              <md-card class="shadow-none">
                <md-card-header>
                  <img md-card-avatar src="assets/medikly_theme/images/providers/F/1.png">
                  <md-card-title>Header title</md-card-title>
                  <md-card-subtitle>Header subtitle</md-card-subtitle>
                </md-card-header>
                <md-card-content>
                  <p class="practice-tab-info">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus,
                    tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec
                    id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor
                    ligula, eget lacinia odio sem nec elit.</p>
                </md-card-content>
              </md-card>
              <md-card class="shadow-none">
                <md-card-header>
                  <img md-card-avatar src="assets/medikly_theme/images/providers/M/2.png">
                  <md-card-title>Header title</md-card-title>
                  <md-card-subtitle>Added a photo</md-card-subtitle>
                </md-card-header>
                <!--     <md-card-content>
                       <img src="https://source.unsplash.com/300x150">
                     </md-card-content>-->
              </md-card>
              <md-card class="shadow-none">
                <md-card-header>
                  <img md-card-avatar src="assets/medikly_theme/images/providers/F/2.png">
                  <md-card-title>Header title</md-card-title>
                  <md-card-subtitle>Header subtitle</md-card-subtitle>
                </md-card-header>
                <md-card-content>
                  <p class="practice-tab-info">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus,
                    tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec
                    id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor
                    ligula, eget lacinia odio sem nec elit.</p>
                </md-card-content>
              </md-card>
              <md-card class="shadow-none">
                <md-card-header>
                  <img md-card-avatar src="assets/medikly_theme/images/providers/M/3.png">
                  <md-card-title>Uploaded new file</md-card-title>
                  <md-card-subtitle>Header subtitle</md-card-subtitle>
                </md-card-header>
              </md-card>
            </div>
          </md-tab>
          <md-tab>
            <ng-template md-tab-label>DIGITAL DNA</ng-template>
          </md-tab>
          <md-tab>
            <ng-template md-tab-label>NETWORK</ng-template>
          </md-tab>
          <md-tab>
            <ng-template md-tab-label>RESEARCH</ng-template>
          </md-tab>
        </md-tab-group>
      </md-card-content>
    </md-card>
  </div>

  <md-sidenav disableClose="true" align="end" #sidenavright mode="side" class="app-sidenav right-sidenav" opened="true">
    <perfect-scrollbar class="overflow-container">
      <md-tab-group color="primary" style="padding-top: 17.5px">
        <md-tab>
          <ng-template md-tab-label>ACTIVITY</ng-template>
      <td-expansion-panel-group>
        <td-expansion-panel disableRipple class="expansion-section" label="Opportunities (2)">
          <div class="md-padding">
              <div class="text-xs-right button-add-style">
                  <a class="tc-blue-500 md-caption">Add opportunity</a>
              </div>
          </div>
        </td-expansion-panel>
        <td-expansion-panel disableRipple class="expansion-section" label="People (1)">
          <div class="md-padding">
              <div class="text-xs-right button-add-style">
                  <a class="tc-blue-500 md-caption">New Person</a>
              </div>
          </div>
        </td-expansion-panel>
        <td-expansion-panel disableRipple class="expansion-section" label="Tasks (1)">
          <div class="md-padding">
              <div class="text-xs-right button-add-style">
                  <a class="tc-blue-500 md-caption">New task</a>
              </div>
          </div>
        </td-expansion-panel>
        <td-expansion-panel disableRipple class="expansion-section" label="Files (0)">
          <div class="md-padding">

              <div class="text-xs-right button-add-style">
                  <a class="tc-blue-500 md-caption">New file</a>
              </div>
          </div>
        </td-expansion-panel>
        <td-expansion-panel disableRipple class="expansion-section" label="Calendar Events (0)">
          <div class="md-padding">
              <div class="text-xs-right button-add-style">
                  <a class="tc-blue-500 md-caption">New Event</a>
              </div>
          </div>
        </td-expansion-panel>
        <td-expansion-panel disableRipple class="expansion-section" label="Projects (0) ">
          <div class="md-padding">
              <div class="text-xs-right button-add-style">
                  <a class="tc-blue-500 md-caption">New project</a>
              </div>
          </div>
        </td-expansion-panel>
      </td-expansion-panel-group>
        </md-tab>
        <md-tab>
          <ng-template md-tab-label>RELATED</ng-template>
        </md-tab>
      </md-tab-group>
    </perfect-scrollbar>
  </md-sidenav>

</md-sidenav-container>
