<td-expansion-panel label="About">
    <div class="md-padding">
        <p><b>{{profile.basic.first_name}} {{profile.basic.last_name}}</b> is a Hematology-Oncology specialty provider based out of {{profile.addresses[0].city}}, {{profile.addresses[0].state}}. The NPI number for {{profile.basic.first_name}} {{profile.basic.last_name}} is {{profile.number}}. Based on a NPI lookup from the NPI registry (NPPES), this provider holds a license number {{profile.licenses[0].code}}.</p>
        <p>Based on Medicare data from 2014, the provider did accept the Medicare approved amount as payment in full. He did not participate in the Physician Quality Reporting System (PQRS), which is a Medicare program that encourages healthcare professionals and group practices to report information on their respective quality of care. The provider did not utilize electronic health records (EHR systems), which are important because they may improve a healthcare professional's ability to make well-informed treatment decisions.</p>
    </div>
</td-expansion-panel>
