<mat-toolbar color="primary" class="toolbar-templates-style">

    <mat-toolbar-row class="templates-contracted-header">
        <div class="template-contracted-header-text ">TITLE</div>
        <span fxFlex></span>
        <div class="template-contracted-header-actions">
            <a class="template-more">TEMPLATE GALLERY</a>
            <span class="border-separator"></span>
            <span class="template-more-action"><mat-icon>more_vert</mat-icon></span>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row class="templates-gallery" fxLayout="row" fxLayoutAlign="center center">
        <div class="toolbar-templates-showcase " *ngFor="let product of products; let i = index">
            <div class="toolbar-template-preview">
                <!--<img src="assets/images/unsplash/{{ product.id }}.jpg">-->
                <img *ngIf="i > 0" src="http://via.placeholder.com/144x183" alt="Placeholder">
                <img *ngIf="i == 0" (click)="openDialogNewProject()" src="assets/medikly_theme/images/docs-blank_1.png" alt="Placeholder">
            </div>

            <div class="toolbar-templates-caption">
                <div class="toolbar-templates-metadata">
                    <div class="toolbar-templates-title">{{i == 0 ? 'Blank' : 'Template '+i}}</div>
                    <div *ngIf="i > 0" class="toolbar-templates-style">Lorem Ipsum</div>
                </div>
            </div>
        </div>
    </mat-toolbar-row>

</mat-toolbar>





