@import url(../../../../../assets/medikly_theme/styles/css/pricing.css);
:host {
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -5px;
  display: block; }

/deep/ .mat-toolbar-row {
  height: 60px; }

.toolbar-templates-style {
  background-color: #fff; }

.mat-card-top {
  margin-top: -64px;
  height: 56px; }

.border-separator {
  border-left: 1px solid #fff;
  height: 24px;
  opacity: 0.54;
  margin-top: 16px; }

.template-more-action {
  margin-left: 10px; }
  .template-more-action md-icon {
    cursor: pointer;
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
    padding-top: 18px;
    font-size: 20px; }

.template-more {
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  margin-top: 14px;
  min-width: 24px;
  opacity: 0.8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-right: 10px;
  text-align: center;
  white-space: nowrap;
  height: 27px;
  line-height: 27px;
  outline: 0px;
  padding: 0 8px; }

.toolbar-templates-content-holder {
  margin: auto;
  width: 690px;
  min-height: 300px; }

.templates-gallery {
  min-height: 245px;
  padding-bottom: 14px; }
  .templates-gallery .border-lightgrey {
    border: 1px solid lightgrey; }

.templates-contracted-header {
  margin: -64px auto 0 auto;
  padding-right: 14px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity; }
  .templates-contracted-header .template-contracted-header-text {
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    margin-top: 14px;
    min-width: 24px;
    opacity: 0.8;
    border-radius: 2px;
    margin-right: 10px;
    text-align: center;
    white-space: nowrap;
    height: 27px;
    line-height: 27px;
    outline: 0px;
    padding: 0 8px; }
  .templates-contracted-header .template-contracted-header-actions {
    display: flex; }

.toolbar-templates-showcase {
  width: 133px;
  margin-right: 19px;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap; }
  .toolbar-templates-showcase .toolbar-template-preview {
    height: 169px;
    width: 133px;
    background: #ffffff;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    user-select: none; }
    .toolbar-templates-showcase .toolbar-template-preview img {
      display: block;
      width: 100%; }
    .toolbar-templates-showcase .toolbar-template-preview:after {
      box-shadow: inset 0px 0px 0px 2px #4285f4; }
  .toolbar-templates-showcase .toolbar-templates-caption {
    flex-direction: row;
    min-height: 32px; }
    .toolbar-templates-showcase .toolbar-templates-caption .toolbar-templates-metadata {
      width: 100%;
      min-width: 0; }
      .toolbar-templates-showcase .toolbar-templates-caption .toolbar-templates-metadata .toolbar-templates-title, .toolbar-templates-showcase .toolbar-templates-caption .toolbar-templates-metadata .toolbar-templates-style {
        font-size: 14px;
        height: 19px;
        line-height: 19px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        user-select: none; }
      .toolbar-templates-showcase .toolbar-templates-caption .toolbar-templates-metadata .toolbar-templates-title {
        font-weight: 500; }
      .toolbar-templates-showcase .toolbar-templates-caption .toolbar-templates-metadata .toolbar-templates-style {
        font-weight: 300; }

/*# sourceMappingURL=modal-templates-gallery.component.css.map */
