<td-expansion-panel label="Education and Training" [expand]="true">
  <div class="md-padding">
    <!--EDUCATION-->
    <md-card class="card-widget shadow-none">
      <md-card-content>
        <h3 class="mt-0 bio-title">
          <md-icon>school</md-icon>
          Education
        </h3>
        <div class="activity-stream">
          <md-card class="shadow-none">
            <md-card-header>
              <i md-card-avatar class="ion-ios-circle-filled"></i>
              <md-card-title>MASTERS IN FINE ARTS <span class="text-md activity-stream-title">2002 - 2004</span>
              </md-card-title>
              <md-card-subtitle>Walters University</md-card-subtitle>
            </md-card-header>
            <md-card-content>
              <p>
                Far much that one rank beheld bluebird after outside ignobly allegedly more when oh arrogantly
                vehement irresistibly fussy penguin insect additionally wow absolutely crud meretriciously hastily
                dalmatian a glowered. outside ignobly allegedly more when oh arrogantly vehement
              </p>
            </md-card-content>
          </md-card>
          <md-card class="shadow-none">
            <md-card-header>
              <i md-card-avatar class="ion-ios-circle-filled"></i>
              <md-card-title>TOMMERS COLLEGE <span class="text-md activity-stream-title">2012 - 2015</span>
              </md-card-title>
              <md-card-subtitle>Bachlors in Fine Arts</md-card-subtitle>
            </md-card-header>
            <md-card-content>
              <p>
                Far much that one rank beheld bluebird after outside ignobly allegedly more when oh arrogantly
                vehement irresistibly fussy penguin insect additionally wow absolutely.
              </p>
            </md-card-content>
          </md-card>
          <md-card class="shadow-none">
            <md-card-header>
              <i md-card-avatar class="ion-ios-circle-filled"></i>
              <md-card-title>DIPLOMA IN FINE ARTS <span class="text-md activity-stream-title">2014 - 2015</span>
              </md-card-title>
              <md-card-subtitle>Imperieal Institute of Art Direction</md-card-subtitle>
            </md-card-header>
            <md-card-content>
              <p>
                Far much that one rank beheld bluebird after outside ignobly allegedly more when oh arrogantly
                vehement irresistibly fussy penguin insect additionally wow absolutely crud meretriciously hastily
                dalmatian a glowered. outside ignobly allegedly more when oh arrogantly vehement.
              </p>
            </md-card-content>
          </md-card>
        </div>
      </md-card-content>
    </md-card>
  </div>
</td-expansion-panel>
