<td-expansion-panel label="Education and Training" [expand]="true">
  <div class="md-padding">
    <!--EDUCATION-->
    <mat-card class="card-widget shadow-none">
      <mat-card-content>
        <h3 class="mt-0 bio-title">
          <mat-icon>school</mat-icon>
          Education
        </h3>
        <div class="activity-stream">
          <mat-card class="shadow-none">
            <mat-card-header>
              <i mat-card-avatar class="ion-ios-circle-filled"></i>
              <mat-card-title>MASTERS IN FINE ARTS <span class="text-md activity-stream-title">2002 - 2004</span>
              </mat-card-title>
              <mat-card-subtitle>Walters University</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                Far much that one rank beheld bluebird after outside ignobly allegedly more when oh arrogantly
                vehement irresistibly fussy penguin insect additionally wow absolutely crud meretriciously hastily
                dalmatian a glowered. outside ignobly allegedly more when oh arrogantly vehement
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card class="shadow-none">
            <mat-card-header>
              <i mat-card-avatar class="ion-ios-circle-filled"></i>
              <mat-card-title>TOMMERS COLLEGE <span class="text-md activity-stream-title">2012 - 2015</span>
              </mat-card-title>
              <mat-card-subtitle>Bachlors in Fine Arts</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                Far much that one rank beheld bluebird after outside ignobly allegedly more when oh arrogantly
                vehement irresistibly fussy penguin insect additionally wow absolutely.
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card class="shadow-none">
            <mat-card-header>
              <i mat-card-avatar class="ion-ios-circle-filled"></i>
              <mat-card-title>DIPLOMA IN FINE ARTS <span class="text-md activity-stream-title">2014 - 2015</span>
              </mat-card-title>
              <mat-card-subtitle>Imperieal Institute of Art Direction</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                Far much that one rank beheld bluebird after outside ignobly allegedly more when oh arrogantly
                vehement irresistibly fussy penguin insect additionally wow absolutely crud meretriciously hastily
                dalmatian a glowered. outside ignobly allegedly more when oh arrogantly vehement.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</td-expansion-panel>
