<div fxLayout="row" fxLayoutWrap="wrap" class="profile-key-stats">
  <div fxFlex.gt-sm="33" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="shadow-none card-widget">
      <div md-card-widget class="content-widget">
        <mat-icon class="tc-green-500 ml-0 mr-0"><i class="icon ion-ios-time-outline"></i></mat-icon>
        <div class="pl-1 pr-1 widget-text">
          <p class="mat-text-muted text-md title-stats">Experience</p>
          <h5 md-card-widget-title>0 - 2 Years</h5>

        </div>
      </div>
    </md-card>
  </div>

  <div fxFlex.gt-sm="33" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="shadow-none card-widget">
      <div md-card-widget class="content-widget">
        <mat-icon class="tc-green-500 ml-0 mr-0"><i class="icon ion-arrow-graph-up-right"></i></mat-icon>
        <div class="pl-1 pr-1 widget-text">
          <p class="mat-text-muted text-md title-stats">Age</p>
          <h5 md-card-widget-title>18 - 22 Years</h5>

        </div>
      </div>
    </md-card>
  </div>

  <div fxFlex.gt-sm="33" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="shadow-none card-widget">
      <div md-card-widget class="content-widget">
        <mat-icon class="tc-green-500 ml-0 mr-0"><i class="icon ion-soup-can"></i></mat-icon>
        <div class="pl-1 pr-1 widget-text">
          <p class="mat-text-muted text-md title-stats">Current Salary($)</p>
          <h5 md-card-widget-title>15k - 16k</h5>
        </div>
      </div>
    </md-card>
  </div>
</div>
<div fxLayout="row" fxLayoutWrap="wrap" class="profile-key-stats">
  <div fxFlex.gt-sm="33" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="shadow-none card-widget">
      <div md-card-widget class="content-widget">
        <mat-icon class="tc-green-500 ml-0 mr-0"><i class="icon ion-android-plane"></i></mat-icon>
        <div class="pl-1 pr-1 widget-text">
          <p class="mat-text-muted text-md title-stats">Expected Salary($)</p>
          <h5 md-card-widget-title>16k - 20k</h5>

        </div>
      </div>
    </md-card>
  </div>

  <div fxFlex.gt-sm="33" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="shadow-none card-widget">
      <div md-card-widget class="content-widget">
        <mat-icon class="tc-green-500 ml-0 mr-0"><i class="icon ion-earth"></i></mat-icon>
        <div class="pl-1 pr-1 widget-text">
          <p class="mat-text-muted text-md title-stats">Lenguages</p>
          <h5 md-card-widget-title>Japanese, German</h5>

        </div>
      </div>
    </md-card>
  </div>

  <div fxFlex.gt-sm="33" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="shadow-none card-widget">
      <div md-card-widget class="content-widget">
        <mat-icon class="tc-green-500 ml-0 mr-0"><i class="icon ion-university"></i></mat-icon>
        <div class="pl-1 pr-1 widget-text">
          <p class="mat-text-muted text-md title-stats">Education Levels</p>
          <h5 md-card-widget-title>Certificate</h5>

        </div>
      </div>
    </md-card>
  </div>
</div>
