/*@import "../../../assets/styles/scss/components/social";*/
@import "../../../../assets/medikly_theme/styles/css/social.css";
$bgColor: #1976d2;

/deep/ {
.bio-title {
  md-icon {
    font-size: 15px;
  }
}

.activity-stream {
  i[mat-card-avatar] {
    color: #cecece;
    font-size: 20px;
    margin: 14px 0px 0 26px;

  }

  .activity-stream-title {
    color: rgba(0, 0, 0, 0.54);
  }

  .mat-card-header-text {
    margin: 0;
  }
}


}
.btn-rose{
  color: #FF1281;
}
.btn-light-blue{
  color: #009CEE;
  font-weight: normal !important;
  font-size: 13px !important;
}
#directory-profile{
  font-size: 12px;
  color: #363636;
}
.expansion-profile-style{
  font-size: 14px;
  font-weight: 600;
}
.style-buttons-profile{
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
