<app-card-layout class="project-view-content">

    <mdk-card-layout-content class="content-target">

        <mat-card class="shadow-none pa-0 ma-0">
            <app-project-info-top documentId="15"></app-project-info-top>
            <mat-card-content class="ml-0 mr-0 pl-0 pr-0 card-layout-content ">

                <perfect-scrollbar class="overflow-container">

                    <!--Profile key stats-->
                    <mat-card class="ml-0 mr-0 mt-0">
                        <app-profile-key-stats class="small-profile-keystats" [profile]="null"></app-profile-key-stats>
                    </mat-card>

                    <mat-card class="second-card">
                        <mat-card-content>

                            <mat-tab-group color="primary" class="scroll-main-content" (selectChange)="tabActive()">

                                <!--Tabs-->
                                <mat-tab *ngFor="let tab of mainContentTabs ; let i = index">
                                    <ng-template mat-tab-label>{{tab.name}}</ng-template>

                                    <mat-card-content>

                                        <app-expansion-chart [children]="tab.children"></app-expansion-chart>

                                    </mat-card-content>
                                </mat-tab>

                            </mat-tab-group>
                        </mat-card-content>
                    </mat-card>
                </perfect-scrollbar>
            </mat-card-content>

        </mat-card>
    </mdk-card-layout-content>

    <mdk-card-layout-left-sidebar>
        <mat-nav-list class="nav-list">
            <div class="content-leftsidenav">
                <mat-tab-group color="primary" class="scroll-filter">
                    <mat-tab>
                        <ng-template mat-tab-label>PROVIDERS</ng-template>
                        <app-target-tabs [filters]="filtersTabProviders" [opened]="true"></app-target-tabs>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>ORGANIZATIONS</ng-template>
                        <app-target-tabs [filters]="filtersTabOrganizations" [opened]="false"></app-target-tabs>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </mat-nav-list>
    </mdk-card-layout-left-sidebar>

</app-card-layout>