@import "../../../../assets/medikly_theme/styles/css/pricing.css";

$width-sidenav: 200px;

:host {
  margin-left: -5px;
  margin-right: -5px;
  margin-top: 0px !important;
  display: block;
}

$mat-toolbar-height-desktop: 64px !default;
$mat-toolbar-height-mobile-portrait: 56px !default;
$mat-toolbar-height-mobile-landscape: 48px !default;

.mat-card-top {
  margin-top: -($mat-toolbar-height-desktop);
}

/*@media ($mat-xsmall) and (orientation: portrait) {
  .mat-card-top {
    margin-top: -($mat-toolbar-height-mobile-portrait);
  }
  .main-content-projects {
    padding: 0px!important;
  }
}

@media ($mat-small) and (orientation: landscape) {
  .mat-card-top {
    margin-top: -($mat-toolbar-height-mobile-landscape);
  }
  .main-content-projects {
    padding: 0px !important;
  }
}

@media ($mat-small) {
  .main-content-projects {
    padding: 0px !important;
  }
}*/

.main-content-projects {
  min-height: calc(100vh);
  padding: 0px $width-sidenav;
  width: 100%;
  display: inline-block;
}

.top-bar {
  position: fixed;
  background-color: #ccc;
  border: 1px solid #333;
  height: 100px;
  z-index: 1;
}

.container {
  margin: 0 auto;
  padding: 10px;
  min-width: 640px;
  max-width: 960px;
  background-color: #eee;
}

.container > div {
  margin: 20px;
  border: 1px solid #333;
  background-image: linear-gradient(rgba(255, 255, 255, 1) 50%, transparent 50%, transparent);
  background-size: 50px 50px;
  height: 500px;
}



