<td-expansion-panel label="Professional Information" [expand]="true">
  <div class="md-padding">
    <md-list>
      <h3 md-subheader>Quality Reporting</h3>
      <md-list-item>
        <mat-icon md-list-avatar>check_circle</mat-icon>
        <h4 md-line>Yes</h4>
        <p md-line>PQRS</p>
      </md-list-item>
      <mat-divider md-inset></mat-divider>
      <md-list-item>
        <mat-icon md-list-avatar>check_circle</mat-icon>
        <h4 md-line>Yes</h4>
        <p md-line>Accepts Medicare Assignment</p>
      </md-list-item>
      <mat-divider md-inset></mat-divider>
      <md-list-item>
        <mat-icon md-list-avatar>check_circle</mat-icon>
        <h4 md-line>Yes</h4>
        <p md-line>EHR</p>
      </md-list-item>
      <mat-divider md-inset></mat-divider>
      <md-list-item>
        <mat-icon md-list-avatar>check_circle</mat-icon>
        <h4 md-line>Yes</h4>
        <p md-line>eRx</p>
      </md-list-item>
    </md-list>
  </div>
  <div class="md-padding">
    <md-list>
      <h3 md-subheader>Group Practice</h3>
      <md-list-item>
        <mat-icon md-list-avatar>group_work</mat-icon>
        <h4 md-line>{{profile.addresses[0].state}} Cancer Specialist P.C</h4>
        <p md-line>Group Name</p>
      </md-list-item>
      <mat-divider md-inset></mat-divider>
      <md-list-item>
        <mat-icon md-list-avatar>group_work</mat-icon>
        <h4 md-line>{{profile.taxonomies[0].code}}</h4>
        <p md-line>Group ID</p>
      </md-list-item>
    </md-list>
  </div>
</td-expansion-panel>
