<td-expansion-panel label="Prescribing Record" [expand]="true">
  <div class="md-padding">
    This section is a breakdown of Dr. {{profile.basic.last_name}}'s Medicare prescribing records in 2013 (the most recent data available from Medicare for this provider).
    It should be noted that the data may not be representative of Dr. {{profile.basic.last_name}}'s entire prescribing pattern.
    All comparisons are made to the average Hematologist/Oncologist in the state.

    <div fxLayout="row">
    <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">

    <h4>Average Cost Per Prescription</h4>
    <h3 style="color: red;">$892 USD</h3>
    Above the State Average for Hematologist/Oncologists ($579 USD)
    </div>
      <div fxFlex.gt-sm="17" fxFlex.gt-xs="33" fxFlex="100">

      </div>
      <div fxFlex.gt-sm="16" fxFlex.gt-xs="34" fxFlex="100">

      </div>
      <div fxFlex.gt-sm="17" fxFlex.gt-xs="33" fxFlex="100">

      </div>
    </div>

    <h4>Common Medications Prescribed</h4>
  </div>

</td-expansion-panel>
