<md-sidenav-container class="app-inner background-none shadow-none sidenav-container-project-view medikly-covalent-styling">
<!--  <info-panel></info-panel>-->
  <mat-toolbar class="toolbar-color-dark-blue">
    <!--<mat-toolbar-row></mat-toolbar-row>-->
    <span fxFlex></span>

<!--    <span style="width: 23%">-->
      <button md-icon-button>
        <mat-icon>thumb_up</mat-icon>
      </button>
      <button md-icon-button>
        <mat-icon>share</mat-icon>
      </button>
      <button md-button uiSref="workspace.home" [uiParams]="{ id: 15 }"> <!--[routerLink]="['/projects/view/'+documentId+'/workspace']"-->
        <span>Launch Workspace</span>
        <mat-icon>chevron_right</mat-icon>
      </button>
<!--    </span>-->
  </mat-toolbar>
  <div ui-view="child-content" class="child-content"></div>
</md-sidenav-container>
