<td-expansion-panel label="More on Medikly" [expand]="true">
  <div class="md-padding">
    <md-list>
      <h3 md-subheader>Metadata</h3>
      <md-list-item>
        <mat-icon md-list-avatar>account_box</mat-icon>
        <h4 md-line>John Jameson</h4>
        <p md-line>Owner</p>
      </md-list-item>
      <md-divider md-inset></md-divider>
      <md-list-item>
        <mat-icon md-list-avatar>description</mat-icon>
        <h4 md-line>An item description</h4>
        <p md-line>Description</p>
      </md-list-item>
      <md-divider md-inset></md-divider>
      <md-list-item>
        <mat-icon md-list-avatar>vpn_key</mat-icon>
        <h4 md-line>1141e8e8-8d24-4956-93c2</h4>
        <p md-line>API Key</p>
      </md-list-item>
    </md-list>
  </div>
</td-expansion-panel>
