@import "../../../../assets/medikly_theme/styles/css/social.css";

$grey-text-muted : rgba(54, 54, 54, 0.54);

.sidenav-container-project-view{
  height: calc(100vh - 64px);

  .info-absolute{
    position: absolute;
    right: 0px;
    z-index: 2;
  }
}

.m-0{
  margin: 0px;
}
.bt-1{
  border-top: 1px solid lightgrey;
}
.right-sidebar-home{
  .block-sidebar{
    padding: 16px 0px;

    .project-block{
      margin-top: 14px;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-right: 16px;
      padding-left: 26px;

      .pf-title{
        color: rgb(78, 80, 87);
        font-size: 0.875rem;
      }

      .pf-subtitle{
        font-size: 13px;
        color: rgb(140, 156, 175);;
      }

      .icon-style{
        font-size: 24px;
        margin-top: 3px;
      }
    }

    .project-block:hover{
      background-color: rgba(0, 0, 0, 0.05);
      text-decoration: none;
    }

    .actions-block{
      //padding-bottom: 16px;
    }
  }
  .title-block{
    margin: 0px 16px;
    font-size: 12px;
    color: #8C9CB0;
    font-weight: bold;
  }
  .content-block{
    padding-top: 14px;

    .center-content{
      padding: 32px 0;
      margin: 0 24px;

      span {
        font-size: 14px;
        color: #8c9caf;
        line-height: 24px;
        text-align: center;
        display: block;
      }
    }

    .link-option{
      padding-top: 6px;
      padding-bottom: 6px;
      padding-right: 16px;
      padding-left: 26px;
      line-height: 16px;

      .title-document{
        color: rgb(78, 80, 87);
        font-size: 0.875rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex: 1 1 auto;
        //margin: 0px 0.5rem 0px 0.25rem;
        overflow: hidden;
      }
    }
    .link-option:hover{
      background-color: rgba(0, 0, 0, 0.05);
      text-decoration: none;
      color: rgb(60, 106, 157);
      cursor: pointer;
    }

  }
  .mr-2{
    margin-right: 2px !important;
  }
  .mr-3{
    margin-right: 3px !important;
  }
  .ml-5{
    margin-left: 5px;
  }
}

.content-home{
  .title-section{
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #8c9caf;
  }
  .invert-icon {
    -moz-transform: scaleX(-1); /* Firefox */
    -o-transform: scaleX(-1); /* Opera */
    -webkit-transform: scaleX(-1); /* Chrome y Safari */
    transform: scaleX(-1); /* w3org */
  }
}

